<?xml version="1.0"?>
<launch>
<arg name="model" value="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/> 
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(arg model)'" />


  <!-- BEGIN ROBOT 1-->
  <group ns="drone1">
    <param name="tf_prefix" value="drone1" />
    <include file="$(find cvg_sim_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="drone1" />
    </include>
  </group>

</launch>
